# This environment variable is used in Production and Preview environments to deploy your Convex project
# This variable is not needed in development.
# You can create a Production or Preview deploy key at https://dashboard.convex.dev/project/settings#production-deploy-keys

# DB
CONVEX_DEPLOYMENT=
NEXT_PUBLIC_CONVEX_URL=
SETUP_SCRIPT_RAN=

# Gmail SMTP settings for sending emails
GMAIL_USER=
GMAIL_APP_PASSWORD=